.cover-heading{
  font-variant:small-caps;
  font-size:3em;
  text-align:center;
}
        
.lead{
  text-align:justify;
  padding-left:20px;
  font-size:1.3em;
}
        
.featurette-image{
  border-radius:5px 5px 5px 5px;
}
        
.BioSection{
  padding-top:20px;
  padding-bottom:50px;
}
        
.social{
      
}